extends layout

block content
    main
        .parallax-container
            .parallax: img(src="images/wallpaper_inbev.jpg")
        .section.white
            .row.container
                h2.header Sales funnel reporting tool
                p.grey-text.text-darken-3.lighten-3=metaData.description


        h1= metaData.title
        p Welcome to #{metaData.title} and so on and on
        p Static layout data served here: #{layout.font}
        p Static layout data served here: #{layout.font}
        p Static layout data served here: #{layout.font}
        p Static layout data served here: #{layout.font}
        p Static layout data served here: #{layout.font}
        p Static layout data served here: #{layout.font}
        p Static layout data served here: #{layout.font}
        p Static layout data served here: #{layout.font}
        p Static layout data served here: #{layout.font}
        p Static layout data served here: #{layout.font}
        p Static layout data served here: #{layout.font}
        p Static layout data served here: #{layout.font}
        p Static layout data served here: #{layout.font}
        p Static layout data served here: #{layout.font}
        p Static layout data served here: #{layout.font}
        p Static layout data served here: #{layout.font}
        p Static layout data served here: #{layout.font}
        p Static layout data served here: #{layout.font}
        p Static layout data served here: #{layout.font}
        p Static layout data served here: #{layout.font}
        p Static layout data served here: #{layout.font}
        p Static layout data served here: #{layout.font}
        p Static layout data served here: #{layout.font}
        p Static layout data served here: #{layout.font}
        p Static layout data served here: #{layout.font}
        p Static layout data served here: #{layout.font}
        p Static layout data served here: #{layout.font}
        p Static layout data served here: #{layout.font}